.help-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #F3F3F3;
  border: 1px solid #000000;
  border-radius: 5px;
  max-width: 546px;
  padding: 1rem 2rem;
}

.help-modal--title {
  font-size: 35px;
  font-weight: 800;
}

p, strong {
  width: 100%;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.27px;
  text-align: left;
}