.keyboard {

  .row {
    @apply flex gap-2 px-6 py-2;

    &.center {
      justify-content: center;
    }

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }
  }
}