.keyboard {
  background-color: #DADCE04D;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;

  .row {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;

    &.center {
      justify-content: center;
    }

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }
  }
}