.modal-score-title {
  font-size: 28px;
  font-weight: 700;
}

.modal-score-button {
  font-size: 24px;
}

.modal-scores {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;

    .score-value {
      font-size: 32px;
      font-weight: 800;
    }
    
    .score-label {
      font-size: 24px;
    }
  }
}

.score-real-word {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.27px;
}

.score-real-word strong {
  text-transform: uppercase;
}

.score-next {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}