.modal-score-title {
  font-size: 35px;
  font-weight: 800;
}

.modal-score-button {
  font-size: 28px;
}

.modal-scores {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-value {
  font-size: 35px;
  font-weight: 800;
}

.score-label {
  font-size: 21px;
}

.score-real-word {
  font-size: 19px;
  font-weight: 400;
  line-height: 22.27px;
}

.score-real-word strong {
  text-transform: uppercase;
}

.score-next {
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}