.word {
  display: flex;
  gap: 1rem;
}

.letter {
  width: 76px;
  height: 76px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter.none {
  background-color: #FFFFFF;
}

.letter.success {
  background-color: #6AAA64;
  border-color: #6AAA64;
}

.letter.wrong-position {
  background-color: #CEB02C;
  border-color: #CEB02C;
}

.letter.not-exist {
  background-color: #939B9F;
  border-color: #939B9F;
}